workflows/image-ocr-workflow-claude.json
{
  "name": "Image OCR with Claude Vision",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-image",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "upload-image"
    },
    {
      "parameters": {
        "jsCode": "// Get binary data buffer and convert to base64\nconst binaryData = $input.first().binary.image;\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'image');\nconst base64Data = buffer.toString('base64');\nconst mimeType = binaryData.mimeType || 'image/jpeg';\nconst base64Image = `data:${mimeType};base64,${base64Data}`;\n\nreturn {\n  json: {\n    base64Image: base64Image,\n    mimeType: mimeType,\n    size: buffer.length\n  }\n};"
      },
      "id": "format-base64-node",
      "name": "Format Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log file details before sending to Claude\nconst binaryData = $input.first().binary?.image;\nconst base64Image = $json.base64Image;\n\nconsole.log('=== File Details ===');\nconsole.log('MIME Type:', binaryData?.mimeType);\nconsole.log('File Name:', binaryData?.fileName);\nconsole.log('File Size (bytes):', binaryData?.fileSize);\nconsole.log('Base64 Length:', base64Image?.length);\nconsole.log('Base64 Preview (first 100 chars):', base64Image?.substring(0, 100));\nconsole.log('===================');\n\nreturn $input.all();"
      },
      "id": "log-file-details-node",
      "name": "Log File Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://claude-ocr:8869/ocr/table",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "base64Image",
              "value": "={{ $json.base64Image }}"
            }
          ]
        },
        "options": {}
      },
      "id": "claude-api-node",
      "name": "Claude Vision API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude Vision API response for delivery route data\nconst claudeResult = $json;\n\nconsole.log('=== CLAUDE VISION RESULT ===');\nconsole.log('Success:', claudeResult.success);\nconsole.log('Source:', claudeResult.source);\nconsole.log('Model:', claudeResult.model);\nconsole.log('Total Groups:', claudeResult.totalGroups);\nconsole.log('Total Streets:', claudeResult.totalStreets);\nconsole.log('===========================');\n\n// Check if Claude returned valid data\nif (!claudeResult.success || !claudeResult.groups || claudeResult.groups.length === 0) {\n  console.log('No route data extracted by Claude');\n  \n  return {\n    json: {\n      routeData: {\n        totalGroups: 0,\n        groups: [],\n        rawText: claudeResult.fullText || claudeResult.rawResponse || '',\n        debugInfo: [\n          'No route data extracted',\n          claudeResult.error || 'Check if image contains a valid delivery route table'\n        ]\n      },\n      summary: {\n        totalGroups: 0,\n        totalStreets: 0,\n        totalHouses: 0\n      }\n    }\n  };\n}\n\n// Claude returns data in a clean format already\nconst groups = claudeResult.groups;\n\nconsole.log(`Processing ${groups.length} groups from Claude`);\n\n// Transform to match existing workflow structure\nconst groupsArray = groups.map(group => {\n  const streets = group.streets || [];\n  \n  return {\n    groupNumber: group.groupNumber,\n    streets: streets.map(street => ({\n      streetName: street.streetName,\n      fromHouse: street.fromHouse || '',\n      toHouse: street.toHouse || '',\n      houseCount: 0\n    })),\n    totalStreets: streets.length\n  };\n});\n\n// Sort by group number\ngroupsArray.sort((a, b) => a.groupNumber - b.groupNumber);\n\nconst totalStreets = groupsArray.reduce((sum, g) => sum + g.totalStreets, 0);\nconst totalHouses = 0;\n\nconst routeData = {\n  totalGroups: groupsArray.length,\n  groups: groupsArray,\n  rawText: claudeResult.fullText || '',\n  source: 'claude-vision',\n  debugInfo: [\n    `Claude Model: ${claudeResult.model || 'unknown'}`,\n    `Total Groups: ${groupsArray.length}`,\n    `Total Streets: ${totalStreets}`,\n    '---',\n    'Groups extracted:',\n    ...groupsArray.slice(0, 10).map(g => \n      `  Group ${g.groupNumber}: ${g.totalStreets} street${g.totalStreets !== 1 ? 's' : ''}`\n    )\n  ]\n};\n\nif (claudeResult.rawResponse) {\n  routeData.debugInfo.push('---');\n  routeData.debugInfo.push('Claude Raw Response:');\n  routeData.debugInfo.push(claudeResult.rawResponse.substring(0, 500));\n}\n\nconsole.log('=== PARSING RESULTS ===');\nconsole.log(`Total Groups: ${routeData.totalGroups}`);\nconsole.log(`Total Streets: ${totalStreets}`);\nif (groupsArray.length > 0) {\n  groupsArray.slice(0, 5).forEach(g => {\n    console.log(`  Group ${g.groupNumber}: ${g.totalStreets} streets`);\n    if (g.streets.length > 0) {\n      console.log(`    - ${g.streets[0].streetName}`);\n    }\n  });\n}\nconsole.log('======================');\n\nreturn {\n  json: {\n    routeData: routeData,\n    summary: {\n      totalGroups: routeData.totalGroups,\n      totalStreets: totalStreets,\n      totalHouses: totalHouses\n    }\n  }\n};"
      },
      "id": "parse-claude-node",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML display for Claude-extracted route data\nconst routeData = $json.routeData;\nconst summary = $json.summary;\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Route Analysis - Claude Vision</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 0;\n      padding: 20px;\n      background: #f5f5f5;\n    }\n    .container {\n      max-width: 800px;\n      margin: 0 auto;\n      background: white;\n      border-radius: 10px;\n      padding: 20px;\n      box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n    }\n    h1 {\n      color: #2c3e50;\n      text-align: center;\n      margin-bottom: 10px;\n    }\n    .subtitle {\n      text-align: center;\n      color: #7f8c8d;\n      margin-bottom: 10px;\n    }\n    .claude-badge {\n      text-align: center;\n      margin-bottom: 20px;\n    }\n    .badge {\n      display: inline-block;\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      padding: 8px 16px;\n      border-radius: 20px;\n      font-size: 13px;\n      font-weight: bold;\n    }\n    .summary {\n      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n      color: white;\n      padding: 20px;\n      border-radius: 8px;\n      margin-bottom: 30px;\n    }\n    .summary-grid {\n      display: grid;\n      grid-template-columns: repeat(3, 1fr);\n      gap: 15px;\n      margin-top: 15px;\n    }\n    .summary-item {\n      text-align: center;\n    }\n    .summary-number {\n      font-size: 32px;\n      font-weight: bold;\n      display: block;\n    }\n    .summary-label {\n      font-size: 14px;\n      opacity: 0.9;\n    }\n    .group {\n      margin-bottom: 25px;\n      border: 2px solid #3498db;\n      border-radius: 8px;\n      overflow: hidden;\n    }\n    .group-header {\n      background: #3498db;\n      color: white;\n      padding: 15px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n    }\n    .group-title {\n      font-size: 20px;\n      font-weight: bold;\n    }\n    .group-count {\n      background: rgba(255,255,255,0.2);\n      padding: 5px 12px;\n      border-radius: 15px;\n      font-size: 14px;\n    }\n    .street-list {\n      padding: 15px;\n      background: white;\n    }\n    .street-item {\n      padding: 12px;\n      margin-bottom: 8px;\n      background: #f8f9fa;\n      border-radius: 5px;\n      border-left: 4px solid #27ae60;\n    }\n    .street-item:last-child {\n      margin-bottom: 0;\n    }\n    .street-name {\n      font-weight: bold;\n      color: #2c3e50;\n      margin-bottom: 5px;\n    }\n    .house-preview {\n      color: #7f8c8d;\n      font-size: 13px;\n    }\n    .house-badge {\n      display: inline-block;\n      background: #27ae60;\n      color: white;\n      padding: 2px 8px;\n      border-radius: 3px;\n      font-size: 12px;\n      margin-right: 8px;\n    }\n    .toggle-btn {\n      background: #6c757d;\n      color: white;\n      border: none;\n      padding: 10px 15px;\n      border-radius: 5px;\n      cursor: pointer;\n      width: 100%;\n      margin-top: 10px;\n    }\n    .toggle-btn:hover {\n      background: #5a6268;\n    }\n    .raw-text {\n      background: #f8f9fa;\n      border: 1px solid #dee2e6;\n      border-radius: 5px;\n      padding: 15px;\n      margin-top: 10px;\n      font-family: monospace;\n      font-size: 11px;\n      white-space: pre-wrap;\n      max-height: 300px;\n      overflow-y: auto;\n      display: none;\n    }\n    .debug-info {\n      background: #fff3cd;\n      border: 1px solid #ffc107;\n      border-radius: 5px;\n      padding: 15px;\n      margin-top: 10px;\n      display: none;\n      font-size: 12px;\n    }\n    .no-data {\n      padding: 20px;\n      background: #fee;\n      border: 1px solid #c00;\n      border-radius: 5px;\n      text-align: center;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>📋 Route Analysis</h1>\n    <div class=\"subtitle\">Extracted by Claude Vision AI</div>\n    <div class=\"claude-badge\">\n      <span class=\"badge\">🤖 Powered by ${routeData.source || 'Claude'}</span>\n    </div>\n    \n    <div class=\"summary\">\n      <div style=\"font-size: 18px; margin-bottom: 10px;\">📊 Summary</div>\n      <div class=\"summary-grid\">\n        <div class=\"summary-item\">\n          <span class=\"summary-number\">${summary.totalGroups}</span>\n          <span class=\"summary-label\">Groups</span>\n        </div>\n        <div class=\"summary-item\">\n          <span class=\"summary-number\">${summary.totalStreets}</span>\n          <span class=\"summary-label\">Streets</span>\n        </div>\n        <div class=\"summary-item\">\n          <span class=\"summary-number\">${summary.totalHouses}</span>\n          <span class=\"summary-label\">Houses</span>\n        </div>\n      </div>\n    </div>\n`;\n\nif (routeData.groups.length === 0) {\n  html += `\n    <div class=\"no-data\">\n      <strong>⚠️ No groups found</strong><br>\n      Claude couldn't identify any delivery groups. Check debug info below.\n    </div>\n  `;\n} else {\n  routeData.groups.forEach(group => {\n    html += `\n    <div class=\"group\">\n      <div class=\"group-header\">\n        <span class=\"group-title\">Group ${group.groupNumber}</span>\n        <span class=\"group-count\">${group.totalStreets} street${group.totalStreets !== 1 ? 's' : ''}</span>\n      </div>\n      <div class=\"street-list\">\n`;\n    \n    group.streets.forEach((street, idx) => {\n      const houseRange = street.fromHouse && street.toHouse \n        ? `${street.fromHouse} - ${street.toHouse}` \n        : street.fromHouse || street.toHouse || 'House numbers not detected';\n      \n      html += `\n        <div class=\"street-item\">\n          <div class=\"street-name\">${idx + 1}. ${street.streetName}</div>\n          <div class=\"house-preview\">\n            <span class=\"house-badge\">Range</span>\n            ${houseRange}\n          </div>\n        </div>\n`;\n    });\n    \n    html += `\n      </div>\n    </div>\n`;\n  });\n}\n\nhtml += `\n    <button class=\"toggle-btn\" onclick=\"document.getElementById('debugInfo').style.display = document.getElementById('debugInfo').style.display === 'none' ? 'block' : 'none'\">🔍 Show Debug Info</button>\n    <div id=\"debugInfo\" class=\"debug-info\">\n      <strong>Debug Information:</strong><br><br>\n      ${routeData.debugInfo.join('<br>')}\n    </div>\n    \n    <button class=\"toggle-btn\" onclick=\"document.getElementById('rawText').style.display = document.getElementById('rawText').style.display === 'none' ? 'block' : 'none'\">📄 Show Raw Text</button>\n    <div id=\"rawText\" class=\"raw-text\">${routeData.rawText.replace(/</g, '&lt;').replace(/>/g, '&gt;')}</div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    html: html,\n    routeData: routeData,\n    summary: summary\n  }\n};"
      },
      "id": "generate-html-node",
      "name": "Generate HTML View",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Format Base64", "type": "main", "index": 0 }]]
    },
    "Format Base64": {
      "main": [[{ "node": "Log File Details", "type": "main", "index": 0 }]]
    },
    "Log File Details": {
      "main": [[{ "node": "Claude Vision API", "type": "main", "index": 0 }]]
    },
    "Claude Vision API": {
      "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]]
    },
    "Parse Claude Response": {
      "main": [[{ "node": "Generate HTML View", "type": "main", "index": 0 }]]
    },
    "Generate HTML View": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {}
}
